* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.container {
  width: 400px;
  margin: 40px auto;
}
