<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Change password</title>
    <link rel="stylesheet" href="cssFiles/changepsswd.css" />
  </head>

  <body>
    <div class="container">
      <form
        th:action="@{/changePassword}"
        method="post"
        class="form-horizontal"
        th:object="${userDTO}"
      >
        <h1>RESET PASSWORD</h1>

        <div class="idk">
          <input
            type="password"
            class="form-control"
            name="password"
            th:value="*{password}"
            th:errorClass="is-invalid"
            placeholder="Enter password"
          />
          <div
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
          ></div>
        </div>

        <div class="idk">
          <input
            type="password"
            class="form-control"
            name="rpassword"
            th:value="*{rpassword}"
            th:errorClass="is-invalid"
            placeholder="Re-enter password"
          />
          <div
            th:if="${#fields.hasErrors('rpassword')}"
            th:errors="*{rpassword}"
          ></div>
        </div>

        <button class="btn" type="submit">Reset password</button>
      </form>
    </div>
  </body>
</html>
