<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
<title>I forgot my password</title>
</head>

<body>

	<div class="container">
	
		<h1>Reset password</h1>
		<br />
		<form th:action="@{/changePassword}" method="post" class="form-horizontal" th:object="${userDTO}">
			<div>
        		<label>Hasło                  </label>
        		<input type="password" class="form-control" name="password" th:value="*{password}" th:errorClass="is-invalid"/>
        	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
        	
        	<div>
        		<label>Wprowadź ponownie hasło</label>
        		<input type="password" class="form-control" name="rpassword" th:value="*{rpassword}" th:errorClass="is-invalid"/>
        		<div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" ></div>
    		</div>
    		
    		<div>
    			<button type="submit">Change password</button>
    		</div>
        	
   		 </div>
		</form>
	
	</div>

</body>
</html>