<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Employee list</title>
    <link rel="stylesheet" href="cssFiles/currency.css" />
  </head>

  <body>
    <div class="container">
      <div>
        <p>Cena dolara w złotówkach:</p>
        <br />
        <p th:text="${USD}">PLN</p>
      </div>

      <div>
        <p>Cena euro w złotówkach:</p>
        <br />
        <p th:text="${EUR}">PLN</p>
      </div>

      <div>
        <p>Cena bitcona w złotówkach:</p>
        <br />
        <p th:text="${BTC}">PLN</p>
      </div>

      <div>
        <p>Cena ethereum w złotówkach:</p>
        <br />
        <p th:text="${ETH}">PLN</p>
      </div>
    </div>
  </body>
</html>
