<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
<title>I forgot my password</title>
</head>

<body>

	<div class="container">
	
		<h1>Reset password</h1>
		<br />
		<form th:action="@{/resetPassword}" method="post" class="form-horizontal">
			<div class="row">
				<label>Email</label>
        		<input type="text" class="form-control" name="email" th:value="email"/>
				<button class="btn btn-primary" type="submit">Reset password</button>
			
			</div>
		</form>
	
	</div>

</body>
</html>