<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <title>Login</title>
    <link rel="stylesheet" href="cssFiles/loginStyle.css" />
  </head>

  <body>
    <div class="container">
      <form th:action="@{/login}" method="post" class="login">
        <div class="header">
          <div th:if="${param.error}" class="error-login">
            <p class="">
              [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
            </p>
          </div>

          <h2>Sign in to Yuro App</h2>

          <div th:if="${param.logout}" class="logout">
            <p class="text-warning">You have been logged out.</p>
          </div>
        </div>

        <input
          type="username"
          name="username"
          class="form-control"
          placeholder="Username"
          required
        />
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <div class="bottom">
          <input type="submit" value="Login" class="btn btn-primary" />
          <a href="/forgotPassword">I forgot my password</a>
        </div>
      </form>
    </div>
  </body>
</html>
