<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Modyfikowanie pracownika</title>
	</head>
<body>

<form action="#" 
  th:action="@{/crud/update/{id}(id=${employee.id})}" 
  th:object="${employee}" 
  method="post">
  
  
    <label for="firstName">Imie</label>
    <input type="text" th:field="*{firstName}" id="employee.firstName" placeholder="Imie">

    <label for="lastName">Nazwisko</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Nazwisko">
    
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">

    

    <input type="submit" value="Update User">   
</form>

</body>